@font-face{font-family:"pixelfont";src: url("../resources/fonts/VT323-Regular.ttf") format("truetype")}
*{box-sizing: border-box;margin:0;padding:0;}
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
    height: 100%;
    width:100%; }
html:focus{outline: none !important;}

body{
    height: 100%;
    width: 100%;
    font-family: pixelfont;
    color:rgba(46, 240, 182, 0.849);
}
#backbutton{
    opacity: 50%;
    color:black;
    position: fixed;
    min-height:15%;
    height: fit-content;
    min-width:12vw;
    max-width: 20vw;
    right:0;
    top:-2vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content:center ;
    border:0px solid red;
    font-size: 10vw;
}
.svg-cyan{
    filter: invert(65%) sepia(20%) saturate(5120%) hue-rotate(123deg) brightness(96%) contrast(102%);
}
main{
    height:100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#img-bg{
    height:100%;
    width:100%;
    filter:brightness(70%) blur(10px);
    transform: scale(1.2);
    overflow:hidden;
}
#fg-container{
    position: fixed;
    top:0;
    width:80vw;
    height:100%;
    left:10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img-fg{
    position: absolute;
    height:fit-content;
    max-height: 100%;
    height:fit-content;
    max-width: 80vw;
    object-fit: contain;
    box-shadow: rgba(14, 30, 37, 0.274) 0 3px 12px 0, rgba(14, 30, 37, 0.507) 0 6px 48px 0;
} 
#clickleft{
    min-width: 10vw;
    max-width:20vw;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    text-decoration: none;
    color: black;
    font-size: 18vw;
}
#clickright{
    min-width: 10vw;
    max-width:20vw;
    height:100%;
    position: fixed;
    right:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    text-decoration: none;
    color: black;
    font-size: 18vw;
}