@font-face{font-family:"pixelfont";src: url("../resources/fonts/VT323-Regular.ttf") format("truetype")}

/* ? Universal site styling */

*{box-sizing: border-box;
    margin:0;
    padding:0;}
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    }
html:focus{
    outline: none !important;}
main {
    font-family: pixelfont;
    color:rgba(46, 240, 182, 0.849);}
ul{list-style-type: none;}

@media only screen and (max-width: 43rem){
/* ? Universal styling for this media query */
.svg-cyan{
    filter: invert(65%) sepia(20%) saturate(5120%) hue-rotate(123deg) brightness(96%) contrast(102%);
}

main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 16px;
}
    #prlx {
        transform-style: preserve-3d;
        position: relative;
        height:fit-content;
        margin-bottom:30vh;

    }
        #prlx-bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width:100vw;
            transform: translateZ(-8px) scale(1.5);
            z-index: -999;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../imgs/bgimg.png");
            background-position: center top;
            background-size: 100vw;

        }
            #test{
                
            }
        #header{
            width:100vw;
            height:7vmax;
            display: flex;
            align-items: center;
            padding-left:3%;
            font-size: clamp(1rem, 4vmax, 4rem);
        }
            #listening-desktop{
                display:none;
            }
            #dropdown-container{
                float:right;
                position: relative;
                width:15%;
                height:7vmax;
                margin-left: auto;
                cursor:pointer;
                flex-grow: 0;

            }
                .dropdown{
                    display:none;   
                    z-index: 1;
                    position: absolute;
                    top:7vmax;
                    width:100vw;
                    right:0;
                    padding-right:2vmax;
                    text-align: end;
                }
                .display-dropdown{
                    display: block;
                }
                    #jumpto{
                        font-size: clamp(1rem, 5vmax, 4rem);
                        padding-bottom: 1vmax;
                    }
                        .jumptoitem{
                            font-size: clamp(1rem, 4vmax, 4rem);
                            padding-top:1vmax;
                            padding-right:2vmax;
                            text-decoration: underline;
                        }
            #navbar{
                display:none;
            }
    
/* ? Main content container styling */

        #content{
            margin-top: 2vmax;
            height:fit-content;
            padding:3vmin;
        }
            #listening-mobile{
                margin-bottom:3vmax;
                width:100%;
                display:flex; 
                align-items: center;
                justify-content:baseline;
                height:7vmax;
            }
                #listening-time-mobile{
                    display:flex;
                    flex-direction: column;
                    width: fit-content;
                    max-width: 20%;
                    align-items: center;
                    justify-content: center;
                }
                    #listening-gif-mobile{
                        max-height: 6vmax;
                        
                    }
                    #listening-now-mobile{
                        flex:1;
                        font-size: 0.7rem;
                        text-align: center;
                    }
                #listening-img-container-mobile{
                    width: fit-content;
                    max-width: 20%;
                    padding:1%;
                }
                    #listening-img-mobile{
                        height: 7.5vmax;
                        box-shadow: rgb(46, 240, 182, 0.4) 0.2vmax 0.2vmax, 
                        rgba(46, 240, 182, 0.3) 0.4vmax 0.4vmax, 
                        rgba(46, 240, 182, 0.2) 0.6vmax 0.6vmax, 
                        rgba(46, 240, 182, 0.1) 0.8vmax 0.8vmax, 
                        rgba(46, 240, 182, 0.05) 1vmax 1vmax;
                        filter:brightness(70%);
                    }
                #listening-text-mobile{
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    width: fit-content;
                    max-width: 60%;
                    padding-left:2%;
                }
                    #listening-title-mobile{
                        font-size: 1.4rem;
                        flex:2;
                        white-space: right;
                        text-align: start;
                        overflow: hidden;
                        box-sizing: border-box;
                        text-overflow: ellipsis;
                    }
                    #listening-artist-mobile{
                        font-size:1.1rem;
                        flex:1;
                        text-align: start;
                        opacity: 60%;
                    }



        .content-item{
            margin-bottom:4vmax;
            width:100%;
            display:flex;
            flex-wrap: wrap;
            height:fit-content;
        }
            .content-title{
                font-size: clamp(1rem, 4vmax, 4rem);
                height:7vmax;
                padding-right:5%;
                width:100%;
                display: flex;
                flex-grow: 100;
                justify-content: center;
                align-items:end;
                padding-left:5vmax;
            }
            .content-subtitle{
                font-size: clamp(1rem, 2vmax, 4rem);
                min-height:5vmax;
                width:100%;
                padding-right:5%;
                display:flex;
                justify-content: center;
                align-items: top;
                padding-left:5vmax;
                filter: brightness(75%);
                text-align: center;
            }

/* ? Social links container styling */
            #social-links-container{
                display:flex;
                flex-wrap:wrap;
                width:100%;
                height:fit-content;
            }
                .social-link{
                    height:6vmax;
                    margin-top: 1vmax;
                    padding:0.5vmax;
                    flex: 0 0 100%;
                    display: flex;
                    align-items: center;
                }
                    .social-link > img{
                        float:left;
                        height:5vmax;
                        box-shadow: rgb(46, 240, 182, 0.4) 0.2vmax 0.2vmax, 
                                    rgba(46, 240, 182, 0.3) 0.4vmax 0.4vmax, 
                                    rgba(46, 240, 182, 0.2) 0.6vmax 0.6vmax, 
                                    rgba(46, 240, 182, 0.1) 0.8vmax 0.8vmax, 
                                    rgba(46, 240, 182, 0.05) 1vmax 1vmax;
                        filter:brightness(80%);

                    }
                    .social-link > a{
                        padding-right:5%;
                        font-size: clamp(1rem, 3vmax, 4rem);
                        display: flex;
                        flex-grow: 100;
                        justify-content: center;
                        align-items: center;
                        height:100%;

                        text-decoration: none;
                        color:rgba(46, 240, 182, 0.712);

                    }
                    .social-link > a:active{

                    }

/* ? Portfolio container styling */
            #portfolio{
                margin-top:1.5vmax;
                height: fit-content;
                width:100%;
                font-size: clamp(1rem, 3vmax, 4rem);
            }
            .caret {
                cursor: pointer;
                user-select: none;
                display:flex;
                width:100%;
                min-height:4vmax;
                align-items: center;
            }
            .display-caret{
                display:flex;
            }
            .hide-caret{
                display:none;
            }
            .arrow-svg{
                transition: all 0.35s;
            }
            .caret:hover{
                background-color: rgba(0, 0, 0, 0.2);
            }
            .caret-down > .arrow-svg{
                transform: rotate(90deg);
            }
            .caret-down > a{
                filter: brightness(100%);
            }
            .hide-folder{
                display: none;
            }
            .active {
                display: block;
                padding-inline-start: 0vmax;
                margin-inline-start: 2vmax;
                border-left:
                0px solid black;
            }
            .active > a{
                text-decoration: none;
                color:rgba(46, 240, 182, 0.712);
            }
            .active > a:active{

            }

            .portfolio-list{
                min-height:4vmax;
            }
            a > .portfolio-list{
                padding-left: 0.4vmax;
            }
            .arrow-svg{
                height:2.2vmax;
            }
            .folder-svg{
                height:3vmax;
            }
            .caret:hover > a{
                filter: opacity(100%)
            }
            .folder-link{
                margin-left:auto;
                margin-right:0.5vmax;
                text-decoration: none;
                color:rgba(46, 240, 182, 0.712);
                filter: opacity(0%)
            }
            .new-tab-svg{
                margin-top:0.4vmax;
                height:2.5vmax;   
            }

                    
/* ? Friend imgs container styling */
#friend-imgs-container{

    margin-top: 1.6vmax;
}
.friend-imgs{
    width:100%;
    height: fit-content;
    border:0px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

}
.friend-pfp{

    float: left;
    width:20%;  
    height:100%;
    box-shadow: rgb(46, 240, 182, 0.4) 0.2vmax 0.2vmax, 
                rgba(46, 240, 182, 0.3) 0.4vmax 0.4vmax, 
                rgba(46, 240, 182, 0.2) 0.6vmax 0.6vmax, 
                rgba(46, 240, 182, 0.1) 0.8vmax 0.8vmax, 
                rgba(46, 240, 182, 0.05) 1vmax 1vmax;
    filter:brightness(80%);
    margin-right: 8%;

    border:0px solid red;
}
.friend-pic{
    width: 20%;
    float: left;

    margin-left: 3%;
    border:0px solid red;
    
}
.friend-pic > img{
    max-width:100%;
    

    box-shadow: rgb(46, 240, 182, 0.4) 0.4vmax 0.4vmax, 

                rgba(46, 240, 182, 0.2) 0.8vmax 0.8vmax, 

                rgba(46, 240, 182, 0.05) 1.4vmax 1.4vmax;
    filter:brightness(60%);

}
.friend-title{
    font-size: clamp(1rem, 2.8vmax, 4rem);
    width:100%;
    height:fit-content; 
    margin-top: 0.8vmax;
    margin-bottom: 1.8vmax;
    float: left;
    padding-left: 2.2%;
}
.friend-title > a {
                        
    color:rgba(46, 240, 182, 0.712);
}


#gallery-container{
    
    min-height:7vmax;
    max-height:29.5vmax;
}
#gallery{
    margin-top:2vmax;
    height:fit-content;
    max-height:22.5vmax;
    overflow-y: scroll;
}
.gallery-ul{
    display:flex;
    flex-wrap: wrap;
    gap:0.5vmax;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.gallery-ul > li{
    flex: 1 1 auto;
    height: 11vmax;
    cursor:pointer;
    position: relative;
}
.gallery-ul li img{
    object-fit: cover;
    width:100%;
    height:100%;
    vertical-align: middle;
}


#test{
    position: absolute;
    bottom:0;
    height:55%;
    width:100%;
    background: linear-gradient(to top, black, black 15%, transparent);
}


#bottom-fill{
    display:flex;
    align-items: start;
    padding-top:30vh;
    justify-content: center;
}
#credit{
    font-size: clamp(1rem, 2vmax, 2rem);
}
#credit-desc{
    float:left;
    color: #70808054;
}
#credit-link{
    float:left;
}
#credit-link > a{
    color: #70808073;
}



}
@media only screen and (min-width: 43rem){ /* 688 -> , (768x1024) tablets  */
main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 16px;
}
#prlx {
    transform-style: preserve-3d;
    position: relative;
    height:fit-content;
    margin-bottom:30vh;

}
#prlx-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width:100vw;
    transform: translateZ(-8px) scale(1.5);
    z-index: -999;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../imgs/bgimg.png");
    background-position: center top;
    background-size: 100vw;

}
#header{
    width:100vw;
    height:7vmax;
    display: flex;
    align-items: center;
    padding-left:3%;
    font-size: clamp(1rem, 6.5vmax, 4rem);
}
#dropdown-container{
    float:right;
    position: relative;
    width:15%;
    height:7vmax;
    margin-left: auto;
    cursor:pointer;
    flex-grow: 0;

}

.svg-cyan{
    filter: invert(65%) sepia(20%) saturate(5120%) hue-rotate(123deg) brightness(96%) contrast(102%);
}
.dropdown{
    display:none;
    z-index: 1;
    position: absolute;
    top:7vmax;
    width:100vw;
    right:0;
    padding-right:2vmax;
    text-align: end;
}
#listening-desktop{
    display:none;
}
.display-dropdown{
    display: block;
}
#jumpto{
    font-size: clamp(1rem, 5.5vmax, 4rem);
    padding-bottom: 1vmax;
}
.jumptoitem{
    font-size: clamp(1rem, 4.5vmax, 4rem);
    padding-top:1vmax;
    padding-right:2vmax;
    text-decoration: underline;
}
#navbar{
    display:none;
}
#content{
    margin-top: 2vmax;
    height:fit-content;
    padding:3vmin;
}
#bottom-fill{
    display:flex;
    align-items: start;
    padding-top:30vh;
    justify-content: center;
}
#credit{
    font-size: clamp(1rem, 2vmax, 2rem);
}
#credit-desc{
    float:left;
    color: #70808054;
}
#credit-link{
    float:left;
}
#credit-link > a{
    color: #70808073;
}
.content-item{
    margin-bottom:5vmax;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    height:fit-content;
}
.content-title{
    font-size: clamp(1rem, 5vmax, 4rem);
    height:7vmax;
    padding-right:5%;
    width:100%;
    display: flex;
    flex-grow: 100;
    justify-content: center;
    align-items:end;
    padding-left:5vmax;
}
.content-subtitle{
    font-size: clamp(1rem, 2.8vmax, 4rem);
    min-height:5vmax;
    max-height: fit-content;
    width:100%;
    padding-right:5%;
    display:flex;
    justify-content: center;
    align-items: top;
    padding-left:5vmax;
    filter: brightness(75%);
    text-align: center;
}

#listening-mobile{
    margin-bottom:3vmax;
    width:100%;
    display:flex; 
    align-items: center;
    justify-content:baseline;
    height:7vmax;
}
    #listening-time-mobile{
        display:flex;
        flex-direction: column;
        width: fit-content;
        max-width: 20%;
        align-items: center;
        justify-content: center;
    }
        #listening-gif-mobile{
            max-height: 6vmax;
            
        }
        #listening-now-mobile{
            flex:1;
            font-size: 1rem;
            text-align: center;
        }
    #listening-img-container-mobile{
        width: fit-content;
        max-width: 20%;
        padding:1%;
    }
        #listening-img-mobile{
            height: 7.5vmax;
            box-shadow: rgb(46, 240, 182, 0.4) 0.2vmax 0.2vmax, 
            rgba(46, 240, 182, 0.3) 0.4vmax 0.4vmax, 
            rgba(46, 240, 182, 0.2) 0.6vmax 0.6vmax, 
            rgba(46, 240, 182, 0.1) 0.8vmax 0.8vmax, 
            rgba(46, 240, 182, 0.05) 1vmax 1vmax;
            filter:brightness(70%);
        }
    #listening-text-mobile{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: fit-content;
        max-width: 60%;
        padding-left:2%;
    }
        #listening-title-mobile{
            font-size: 1.8rem;
            flex:2;
            white-space: right;
            text-align: start;
            overflow: hidden;
            box-sizing: border-box;
            text-overflow: ellipsis;
        }
        #listening-artist-mobile{
            font-size:1.4rem;
            flex:1;
            text-align: start;
            opacity: 60%;
        }


#friend-imgs-container{

    margin-top: 1.6vmax;
}
.friend-imgs{
    width:100%;
    height: fit-content;
    border:0px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

}
.friend-pfp{

    float: left;
    width:20%;  
    height:100%;
    box-shadow: rgb(46, 240, 182, 0.4) 0.2vmax 0.2vmax, 
                rgba(46, 240, 182, 0.3) 0.4vmax 0.4vmax, 
                rgba(46, 240, 182, 0.2) 0.6vmax 0.6vmax, 
                rgba(46, 240, 182, 0.1) 0.8vmax 0.8vmax, 
                rgba(46, 240, 182, 0.05) 1vmax 1vmax;
    filter:brightness(80%);
    margin-right: 8%;

    border:0px solid red;
}
.friend-pic{
    width: 20%;
    float: left;

    margin-left: 3%;
    border:0px solid red;
    
}
.friend-pic > img{
    max-width:100%;
    

    box-shadow: rgb(46, 240, 182, 0.4) 0.4vmax 0.4vmax, 

                rgba(46, 240, 182, 0.2) 0.8vmax 0.8vmax, 

                rgba(46, 240, 182, 0.05) 1.4vmax 1.4vmax;
    filter:brightness(60%);

}
.friend-title{
    font-size: clamp(1rem, 2.8vmax, 4rem);
    width:100%;
    height:fit-content; 
    margin-top: 0.8vmax;
    margin-bottom: 1.8vmax;
    float: left;
    padding-left: 2.2%;
}
.friend-title > a {
    
    color:rgba(46, 240, 182, 0.712);
}
#social-links-container{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    height:fit-content;
}
.social-link{
    height:6vmax;
    margin-top: 1vmax;
    padding:0.5vmax;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
}
.social-link > img{
    float:left;
    height:5vmax;
    box-shadow: rgb(46, 240, 182, 0.4) 0.2vmax 0.2vmax, 
                rgba(46, 240, 182, 0.3) 0.4vmax 0.4vmax, 
                rgba(46, 240, 182, 0.2) 0.6vmax 0.6vmax, 
                rgba(46, 240, 182, 0.1) 0.8vmax 0.8vmax, 
                rgba(46, 240, 182, 0.05) 1vmax 1vmax;
    filter:brightness(80%);

}
.social-link > a{
    padding-right:5%;
    font-size: clamp(1rem, 3.5vmax, 4rem);
    display: flex;
    flex-grow: 100;
    justify-content: center;
    align-items: center;
    height:100%;

    text-decoration: none;
    color:rgba(46, 240, 182, 0.712);

}
.social-link > a:active{

}

#gallery-container{
    
    min-height:7vmax;
    max-height:29.5vmax;
}
#gallery{
    margin-top:2vmax;
    height:fit-content;
    max-height:33.5vmax;
    overflow-y: scroll;
}
.gallery-ul{
    display:flex;
    flex-wrap: wrap;
    gap:0.5vmax;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.gallery-ul > li{
    flex: 1 1 auto;
    height: 11vmax;
    cursor:pointer;
    position: relative;
}
.gallery-ul li img{
    object-fit: cover;
    width:100%;
    height:100%;
    vertical-align: middle;
}

#portfolio{
    margin-top:1.5vmax;
    height: fit-content;
    width:100%;
    font-size: clamp(1rem, 4.2vmax, 4rem);
}
.caret {
    cursor: pointer;
    user-select: none;
    display:flex;
    width:100%;
    min-height:4vmax;
    align-items: center;
}
.display-caret{
    display:flex;
}
.hide-caret{
    display:none;
}
.arrow-svg{
    transition: all 0.35s;
}
.caret:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.caret-down > .arrow-svg{
    transform: rotate(90deg);
}
.hide-folder{
    display: none;
}
.active {
    display: block;
    padding-inline-start: 0vmax;
    margin-inline-start: 2vmax;
    border-left:
    0px solid black;
}
.active > a{
    text-decoration: none;
    color:rgba(46, 240, 182, 0.712);
}
.active > a:active{

}

.portfolio-list{
    min-height:4vmax;
}
a > .portfolio-list{
    padding-left: 0.4vmax;
}
.arrow-svg{
    height:3vmax;
}
.folder-svg{
    height:4.2vmax;
}
.caret:hover > a{
    filter: opacity(100%);
}
.folder-link{
    margin-left:auto;
    margin-right:0.5vmax;
    text-decoration: none;
    color:rgba(46, 240, 182, 0.712);
    filter: opacity(0%)

}
.new-tab-svg{
    margin-top:0.4vmax;
    height:3vmax;   
}

#test{
    position: absolute;
    bottom:0;
    height:55%;
    width:100%;
    background: linear-gradient(to top, black, black 15%, transparent);
}

} 
@media only screen and (min-width: 62rem){ /* 992 ->, (1280x720) LAPTOPS, DESKTOPS   */


    /*  * DESKTOP SPECIFIC STYLING */
    html, body{
        height:100%; width:100%;
    }
    #prlx-bg, #bottom-fill{
        display: none;
    }
    .svg-cyan{
        filter: invert(65%) sepia(20%) saturate(5120%) hue-rotate(123deg) brightness(96%) contrast(102%);
    }
    *{
        background-color: rgba(0, 0, 0, 0.);
        box-sizing: border-box;
        margin:0;
        padding:0;
    }
    *::before,
    *::after {
      box-sizing: border-box;}

    
    #main{
        background-color: rgba(140, 255, 0, 0.509);
        height: 100%;
        width:100%;
        overflow-x: auto;
        overflow-y: hidden;
        perspective:none;
        min-height: 100vh;
    }
    #prlx { 
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../imgs/desktopbg.jpg");
        background-position:center bottom;
        background-repeat: no-repeat;
        background-color: #708080;
        background-size: 100%;
        height:100%;
        width:100%;
        margin-bottom: 0;
        transform-style:unset;
        display:flex;
        flex-direction: column;
        align-items: stretch;
    }
        #header{
            flex:1;
            font-size: clamp(1rem, 6.5vmax, 4rem);
            display:flex;
            flex-direction: column;
            align-items: stretch;
            padding-left: 0;
            
        }
            #first-row{
                flex:4;

                width: 100vw;
            }
                #title{
                    display: flex;
                    align-items: center;
                    
                    text-align: left;
                    width:60%;
                    padding-left:5%;
                    float:left;
                }    
                #listening-mobile{
                    display:none;
                }
                #listening-desktop{
                    
                    display:flex;
                    align-items: center;
                    justify-content: end;
                    width: 40%;
                    margin-left:auto;
                    float:right;
                }

                    #listening-text{
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;
                        width: fit-content;
                        max-width: 60%;
                    }
                        #listening-title{
                            font-size: 1.3rem;
                            flex:2;
                            white-space: right;
                            text-align: end;
                            overflow: hidden;
                            box-sizing: border-box;
                            text-overflow: ellipsis;
                        }
                        #listening-artist{
                            font-size:1rem;
                            flex:1;
                            text-align: end;
                            opacity: 60%;
                        }
                    #listening-img-container{

                        display:flex;
                        align-items: center;
                        justify-content: center;
                        width: 20%;
                        max-width: 20%;
                        padding:1%;
                    }
                        #listening-img{
                            height:100%;
                            max-width: 80%;
                            align-self: center;
                            box-shadow: rgb(46, 240, 182, 0.4) 0.2vmax 0.2vmax, 
                                        rgba(46, 240, 182, 0.3) 0.4vmax 0.4vmax, 
                                        rgba(46, 240, 182, 0.2) 0.6vmax 0.6vmax, 
                                        rgba(46, 240, 182, 0.1) 0.8vmax 0.8vmax, 
                                        rgba(46, 240, 182, 0.05) 1vmax 1vmax;
                            filter:brightness(70%);
                        }
                    #listening-time{
                        display:flex;
                        flex-direction: column;
                        width: 20%;
                        max-width: 20%;
                        align-items: center;
                    }
                        #listening-gif{
                            flex:4;
                            
                            object-fit: contain;
                        }
                        #listening-now{
                            flex:1;
                            font-size:0.8rem;
                        }
            #dropdown-container{
                display:none;    
            }
            #navbar{
                
                display:flex;
                flex-direction: row;
                flex:5;
                
                
            }
                .navbar-item{
                    font-size: clamp(1rem, 4vmax, 4rem);
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    
                    padding-left:5%;
                    
                    
                    opacity: 0.2;
                    transition: opacity 0.2s;
                }
                
                .navbar-item:hover{
                    opacity: 1;
                }

    

        #content{
            
            margin-top: 0;
            height:unset;
            padding:0;
            display: flex;
            flex:4;
        }
            .content-item{
                all:unset;
                width:100%;
                
                height:100%;
        
                display:none;
            }
                .content-title{
                    font-size: clamp(1rem, 5vmax, 4rem);
                    height:unset;
                    
                    padding-right:unset;
                    width:unset;
                    display:unset;
                    flex-grow:unset;
                    justify-content:unset;
                    align-items:unset;
                    padding-left:unset;
                    display:none;  
                }
                .content-subtitle{
                    font-size: clamp(1rem, 2.8vmax, 4rem);
                    height:unset;
                    width:unset;
                    padding-right:unset;
                    padding-left:unset;
                    display:flex;
                    justify-content: unset;
                    text-align: unset;
                    filter: brightness(75%);
                    min-height: unset;
                    max-height: unset;
                    align-items: unset;
                    height:100%;
                    margin-top:4vh;
                }


            .content-item#socials-container{
                
                width:100%;
                height:100%;
                margin-bottom:unset;
                flex-wrap:unset;
                max-height: unset;
                flex-direction: row;
            }
                #socials-container > .content-subtitle{
                    flex:1;

                    
                    display:flex;
                    align-items: top;
                    justify-content: center;
                    text-align: left;
                    padding-left:5%;
                }
                #social-links-container{
                    height:76vh;
                    flex-wrap:unset;
                    margin-top:4vh;
                    margin-left:2vh;       
                    width:unset;
                    flex:4;
                    display:grid;
                    grid-template-columns: 25% 25% 25% 25%;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    padding:0%;
                }
                    .social-link{
                        
                        margin-top:unset;
                        padding:unset;
                        width: unset;
                        flex:unset;
                        display:flex;
                        align-items:center;
                        justify-content: center;
                        margin:auto;
                        flex-direction: column;
                        align-items: stretch;
                        width: 100%;
                    }
                        .social-link > img{
                            
                            min-height: 100%;
                            align-self: center;
                            box-shadow: rgb(46, 240, 182, 0.4) 0.2vmax 0.2vmax, 
                                        rgba(46, 240, 182, 0.3) 0.4vmax 0.4vmax, 
                                        rgba(46, 240, 182, 0.2) 0.6vmax 0.6vmax, 
                                        rgba(46, 240, 182, 0.1) 0.8vmax 0.8vmax, 
                                        rgba(46, 240, 182, 0.05) 1vmax 1vmax;
                            filter:brightness(80%);
                        }
                        .social-link > a{
                            padding-right:unset;
                            font-size: clamp(1rem, 3.5vmax, 4rem);
                            display: flex;
                            
                            justify-content: center;
                            align-items: center;
                            
                            text-decoration: none;
                            color:rgba(46, 240, 182, 0.712);
                        }
                        .social-link > a:active{}
   

            .content-item#portfolio-container{
                
                
                flex-direction: row;
            }
                #portfolio-container > .content-subtitle{
                    flex:1;
                    display:flex;
                    align-items: top;
                    justify-content: center;
                    text-align: left;
                    padding-left:5%;
                } 
                #portfolio{
                    all:unset;
                    
                    flex:4;
                    max-height:73vh;
                    scrollbar-color: rgba(46, 240, 182, 0.849) rgba(0, 0, 0, 0);
                    scrollbar-width:1vmax;
                    overflow-y:scroll ;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    margin-left:2vh;
                    margin-top:4vh;
                    margin-right:0%;
                    font-size: clamp(1rem, 3.5vmax, 4.5rem);
                    padding-top:3vh;
                    padding-left:0vh;
                }#portfolio::-webkit-scrollbar{width:1vmax;height:30px;}
                #portfolio::-webkit-scrollbar-thumb{
                    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(46, 240, 204, 0.8)),color-stop(0.72, rgba(46, 240, 204, 0.6)), color-stop(0.86, rgba(46, 240, 204, 0.4))); ;}
                    #myUL{
                        padding-left: 3vh;
                    }
                        .portfolio-list{
                            min-height:4vmax;
                        }
                            .caret {
                                cursor: pointer;
                                user-select: none;
                                display:flex;
                                width:100%;
                                min-height:4vmax;
                                align-items: center;
                            }
                            .display-caret{
                                display:flex;
                            }
                            .display-block{
                                display:block;
                            }
                            .display-flex{
                                display:flex
                            }
                            .hide-caret{
                                display:none;
                            }
                            .caret:hover{
                                background-color: rgba(0, 0, 0, 0.2);
                            }
                            .hide-folder{
                                display: none;
                            }
                            .active {
                                display: block;
                                padding-inline-start: 0vmax;
                                margin-inline-start: 4%;
                                border-left:
                                0px solid black;
                            }
                                .active > a{
                                    text-decoration: none;
                                    color:rgba(46, 240, 182, 0.712);
                                    
                                }
                                .active > a:active{
                                
                                }
                                .caret-down > .arrow-svg{
                                    transform: rotate(90deg);
                                }                
                                .arrow-svg{
                                    transition: all 0.35s;
                                }
                                .caret:hover > a{
                                    filter: opacity(100%);
                                }                            
                                a > .portfolio-list{
                                    padding-left: 0.4vmax;
                                }
                                .arrow-svg{
                                    height:2.2vw;
                                }
                                .folder-svg{
                                    height:3vw;
                                }
                                .folder-link{
                                    margin-left:auto;
                                    margin-right:0.5vmax;
                                    text-decoration: none;
                                    color:rgba(46, 240, 182, 0.712);
                                    filter: opacity(0%)
                                
                                }
                                .new-tab-svg{
                                    margin-top:0.4vmax;
                                    height:2.5vw;   
                                    margin-right: 1.3vmax;
                                }


            .content-item#friends-art{
                flex-direction: row;
            }
                #friends-art > .content-subtitle{
                    flex:1;
                    display:flex;
                    align-items: top;
                    justify-content: center;
                    text-align: left;
                    padding-left:5%;
                }
                #friend-imgs-container{
                    all:unset;
                    flex:4;
                    height:73vh;
                    max-height:73vh;
                    margin-top:4vh;
                    margin-left:2vh;    
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                    padding-top:3vh;
                    padding-left:0vh;
                }
                    .friend-imgs{
                        width:100%;
                        height:17.5vh;
                        max-height:17.5vh;
                        border:0px solid red;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        padding-left: 3vh;
                        
                    }
                        .friend-pfp{
                            float: left;
                            width:unset;
                            height:unset;

                            
                            max-width: 25%;
                            max-height: 100%;
                            box-shadow: rgb(46, 240, 182, 0.4) 0.2vmax 0.2vmax, 
                                        rgba(46, 240, 182, 0.3) 0.4vmax 0.4vmax, 
                                        rgba(46, 240, 182, 0.2) 0.6vmax 0.6vmax, 
                                        rgba(46, 240, 182, 0.1) 0.8vmax 0.8vmax, 
                                        rgba(46, 240, 182, 0.05) 1vmax 1vmax;
                            filter:brightness(80%);
                            margin-right: 0%;
                            border:0px solid red;
                        }
                        .friend-pic{
                            width:25%;
                            height:unset;
                            max-width:25%;
                            float: left;
                            margin-left: 0%;
                            border:0px solid red;
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            height:17.5vh;
                            max-height: 17.5vh;
                            margin-left:auto;
                            
                        }
                            .friend-pic > img{
                                
                                max-width: 100%;
                                max-height: 100%;
                                
                                
                                
                                box-shadow: rgb(46, 240, 182, 0.4) 0.4vmax 0.4vmax, 
                                            rgba(46, 240, 182, 0.2) 0.8vmax 0.8vmax, 
                                            rgba(46, 240, 182, 0.05) 1.4vmax 1.4vmax;
                                filter:brightness(60%);
                            }
                    .friend-title{
                        font-size: clamp(1rem, 3vmax, 4rem);
                        width:100%;
                        height:fit-content; 
                        height:6vh;
                        max-height: 6vh;
                        margin-top: 0vmax;
                        margin-bottom: 0vmax;
                        float: left;
                        padding-left: 2.5vh;
                        display:flex;
                        align-items: center;
                    }
                    .friend-title > a {
                        
                        color:#2ef0b6b6;
                    }




    


            .content-item#gallery-container{
                min-height:7vmax;
                max-height:29.5vmax;
                flex-direction: row;
                max-height: unset;
            }
                #gallery-container > .content-subtitle{
                    flex:1;
                    display:flex;
                    align-items: top;
                    justify-content: center;
                    text-align: left;
                    padding-left:5%;
                }
                #gallery{
                    flex:4;
                    margin-top:4vh;
                    margin-left:2vh;
                    padding-top:0vh;
                    padding-left:0vh;
                    height:fit-content;
                    max-height:76vh;
                    scrollbar-color: rgba(46, 240, 182, 0.849) rgba(0, 0, 0, 0);
                    scrollbar-width:1vmax;
                    overflow-y: scroll;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

                }#gallery::-webkit-scrollbar{width:1vmax;height:30px;}
                #gallery::-webkit-scrollbar-thumb{
                    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(46, 240, 204, 0.8)),color-stop(0.72, rgba(46, 240, 204, 0.6)), color-stop(0.86, rgba(46, 240, 204, 0.4))); ;}
                    .gallery-ul{
                        display:flex;
                        flex-wrap: wrap;
                        gap:0.5vmax;
                        list-style: none;
                        margin-block-start: 0;
                        margin-block-end: 0;
                        margin-inline-start: 0;
                        margin-inline-end: 0;
                        padding-inline-start: 0;
                        padding-left:3vh;
                        padding-top:3vh;
                    }
                        .gallery-ul > li{
                            flex: 1 1 auto;
                            height: 11vmax;
                            cursor:pointer;
                            position: relative;
                        }
                            .gallery-ul li img{
                                object-fit: cover;
                                width:100%;
                                height:100%;
                                vertical-align: middle;
                            }
        
}
@media only screen and (min-width: 82rem){ /* 1312w ->, (1920x1080) ULTRAWIDES   */
    #main{background-color: rgba(70, 128, 0, 0.634);} }   
    
    