@font-face{font-family:"pixelfont";
src: url("../fonts/VT323-Regular.ttf") format("truetype")}
html, body{box-sizing: border-box;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;}
body{min-height:100vh;}
#main{box-sizing: border-box;
    margin: 0;
    min-height:100vh;}
*{background-color: rgba(0, 0, 0, 0.1);border:0px solid red;}
@media only screen and (max-width: 43rem){ /* <- 688, (375x812) MOBILE/SMALL    */
#main{
    background-color: rgba(0, 255, 238, 0.37);
    min-height:100vh;
    /*  height:fit-content;   */} 
#header{
    box-sizing: border-box;
    width:100vw;
    height:7vmax;
    display:flex;
    font-family: pixelfont;
    display: flex;
    align-items: center;
    padding-left:3%;
    font-size: 4vmax;}
#dropdown-container{
    float:right;
    display:inline-block;
    position: relative;
    width:15%;
    height:7vmax;
    margin-left: auto;
    padding:0;}
.burger{
    box-sizing: border-box;
    cursor:pointer;}
.burger:hover, #burger:focus{
    /*TODO ADD STYLES*/}
.dropdown-content{
    display:none;
    z-index: 1;
    position: absolute;
    top:7vmax;
    
    width:fit-content;
    right:0;}
.dropdown-content > a {
    display: block;
    width:100%; 
    /*TODO ADD STYLES*/}
.show-dropdown {
    display: block;}

#content{
    box-sizing: border-box;
    margin-top: 2vmax;
    width:100vw;
    height:fit-content;
    padding:3vmin;}
.content-item{
    margin-bottom:4vmax;}

#socials-container{
    width:100%;
    height:fit-content;
    display:flex;
    flex-wrap: wrap;
    font-family: pixelfont;}
#socials-title{
    font-size: 4vmax;
    height:7vmax;
    padding-right:5%;

    width:100%;
    display: flex;}
#socials-title > img{
    height:5vmax;

    box-sizing: border-box;
    float:left;
    visibility: hidden;}
#socials-title-text{
    flex-grow: 100;
    display: flex;
    justify-content: center;
    align-items: center;}
.social-link{
    height:6vmax;
    margin-top: 1vmax;
    padding:0.5vmax;

    box-sizing: border-box;
    width:100%;
    flex: 0 0 100%;
    display: flex;
    align-items: center;}
.social-link > img{
    /* * IMG MUST BE 120x120*/
    box-sizing: border-box;
    float:left;
    height:5vmax;}
.social-link > a {
    font-size: 3vmax;
    color:black;
    padding-right:5%;

    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    flex-grow: 100;
    justify-content: center;
    align-items: center;
    height:100%;}

#gallery-container{
    height:20vh;
}

}

@media only screen and (min-width: 43rem){ /* 688 -> , (768x1024) tablets  */
    #main{background-color: rgba(0, 128, 19, 0.549);} }
@media only screen and (min-width: 62rem){ /* 992 ->, (1280x720) LAPTOPS, DESKTOPS   */
    #main{background-color: rgba(140, 255, 0, 0.509);} }
@media only screen and (min-width: 82rem){ /* 1312w ->, (1920x1080) ULTRAWIDES   */
    #main{background-color: rgba(70, 128, 0, 0.634);} }



/* TODO
 
? WHO ACCESSES WHAT??
* * 2 pages
    *   Page 1, "business":
        *   coding projects portfolio
            *   add individually
        *   profile, with actual contact info
        *   and experience (when aquired)



? CONTENT
*   header:
    *   social links?
    *   name, logo?
    *   

*   main content
    *   gallery (photographs)
    *   developer portfolio (programs)
        *   developer profile
        *   prøvesvar
        *   gallery itself
        *   rust stuff
            *   boom calc
            *   connect script
                *   connect script download
        *   firebase site
        *   traffic sys
    *   profile
        *   picture, description, social links, etc
    
    *   "Support my art friends!"
        *maddie, olivia, crest, bewwy, 
    

? LAYOUT
*
* home
    * folio
    *   dropdown with gradient colors?
    * gallery
    * profile
    *



*/

