*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    height:100%;
    width:100%;
}
html:focus{
    outline: none !important;
}
body{
    height:100%;
    width:100%;
    background-color: #CDC392;
}
::placeholder{
    color:rgba(0, 0, 0, 0.603);
}
#pre-sign-in{
    height:80%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login{
    width:80%;
    margin:10%;
    height:40%;
}
#email-input{
    width:100%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#email-input > input{
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance:unset;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color:rgba(0, 0, 0, 0.155);
    margin:0;
    border-width:0;
    border-style:none;
    border-image:none;
    width:80%;
    height:60%;
    padding:3%;
}
#email-input > input:focus{outline: none;}
#pass-input{
    width:100%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pass-input > input{
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance:unset;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color:rgba(0, 0, 0, 0.155);
    margin:0;
    border-width:0;
    border-style:none;
    border-image:none;
    width:80%;
    height:60%;
    padding:3%;
}
#pass-input > input:focus{outline: none;}
#confirm-pass-input{
    width:100%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#confirm-pass-input > input{
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance:unset;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color:rgba(0, 0, 0, 0.155);
    margin:0;
    border-width:0;
    border-style:none;
    border-image:none;
    width:80%;
    height:60%;
    padding:3%;
}
#confirm-pass-input > input:focus{outline: none;}
#signin-input{
    width:100%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signin-input > button{
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: center;
    display: inline-block;
    
    appearance:unset;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color:rgba(0, 0, 0, 0);
    margin:0;
    
    
    border-style:none;
    border-image:none;
    border: 2px solid rgba(0, 0, 0, 0.568);
    color:rgba(0, 0, 0, 0.842);
    width:80%;
    height:60%;
    padding:3%;
}
#signin-input > button:focus{
    outline: none;
}
#signin-input > button:active{
    background-color: rgba(0, 0, 0, 0.267);
}
#newuser-input{
    width:100%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#newuser-input > button{
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: center;
    display: inline-block;
    
    appearance:unset;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color:rgba(0, 0, 0, 0);
    margin:0;
    
    
    border-style:none;
    border-image:none;
    border: 2px solid rgba(0, 0, 0, 0.568);
    color:rgba(0, 0, 0, 0.842);
    width:80%;
    height:60%;
    padding:3%;
}
#newuser-input > button:focus{
    outline: none;
}
#newuser-input > button:active{
    background-color: rgba(0, 0, 0, 0.267);
}
#error-output{
    width:100%;
    height:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#error-output > button{
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: start;
    display: inline-block;
    
    appearance:unset;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color:rgba(0, 0, 0, 0);
    margin:0;
    
    
    border-style:none;
    border-image:none;
    border: 2px solid rgba(207, 3, 3, 0.568);
    color:rgba(160, 3, 3, 0.842);
    width:80%;
    height:60%;
    padding:3%;
}
#error-output > button:focus{
    outline: none;
}





main{
    height:100%;
    width:100%;
}

#title{
    color: #3D3B30;
    font-size: 3rem;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
    height: fit-content;
    padding-top:5%;
}
#dreams{
    width:29.3%;
    color: #3D3B30;
    font-size: 1.3rem;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    margin:2%;
    text-align: center;
    float:left;
}
#diary{
    width:29.3%;
    color: #3D3B30;
    font-size: 1.3rem;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    margin:2%;
    text-align: center;

    float:left;
}
#thoughts{
    width:29.3%;
    color: #3D3B30;
    font-size: 1.3rem;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    margin:2%;
    text-align: center;
    float:left;
}
.selected-category{
    border-bottom: 3px solid #3D3B30;
    background-color: rgba(0, 0, 0, 0.155);
}

#add-bar{

    width:82.8%;
    margin-left: 14.7%;
    margin-bottom:2%;
    box-shadow:;

    color: #3D3B30;
    font-size: 1.1rem;
    background-color:rgba(0, 0, 0, 0.155);
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    padding:2%;
    text-align: left;
    float:left;

}
#add-button{
background-color:rgba(0, 0, 0, 0.155);
background-color:rgba(0, 0, 0, 0);
border-width: 0px;
border-style:solid;
border-color: #3D3B30;
border-image: initial;
text-rendering: auto;
color: #3D3B30;
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: center;
align-items: flex-start;
cursor: default;

color: #3D3B30;
font-size: 1.3rem;
font-weight: bolder;
font-family:'Times New Roman', Times, serif;
text-align: center;

}
#add-button:focus{
outline:none;
}



#add-input{
color: #3D3B30;
padding-left: 5%;
padding-top:10%;
font-weight: bolder;

}
#add-info{
    width:100%;
    margin:none;
}
#time-input{
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0;
text-shadow: none;
display: inline-block;
text-align: start;
appearance:unset;
-webkit-rtl-ordering: logical;
cursor: text;
background-color:rgba(0, 0, 0, 0.155);
margin:0;
padding:0;
border-width:0;
border-style:none;
border-image:none;
width:65%;
height:fit-content;
padding:2%;

}
#time-input:focus{
    outline:none;
}
#add-time-title{
    padding:2%;
    width:65%;
}
#load-draft{
    background-color:rgba(0, 0, 0, 0.155);
    float:right;
    width:25%;
    margin-right:5%;
    height:fit-content;
    padding:2%;
}
#text-input{  

letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0;
text-shadow: none;
display: inline-block;
text-align: start;
appearance:unset;
-webkit-rtl-ordering: logical;
cursor: text;
background-color:rgba(0, 0, 0, 0.155);
margin:0;
padding:0;
border-width:0;
border-style:none;
background-color:rgba(0, 0, 0, 0.155);
border-image:none;
width:95%;
height:60vh;
padding:2%;
}
#text-input:focus{
outline:none;
}
#add-text-title{
padding:2%;
width:100%;
}
#action-buttons{
    width:100%;
}
#action-buttons > div{
    float:left;
    background-color:rgba(0, 0, 0, 0.155);
    margin-top:2%;
    text-align: center;
    padding:2%;
}
#cancel{
    width:22.5%;
    margin-right:2.5%
}
#add-draft{
    width:22.5%;
    margin-right:2.5%
}
#submit-entry{
    width:45%;
}




#content{
width:100%;
float:left;
}
#sidebar{
width:13%;
float:left;
text-align: right;
color:#3D3B30;
font-size: 1rem;
font-weight: bolder;
font-family:'Times New Roman', Times, serif;
padding:0.5%;


}
.sidebar-month, .sidebar-year{
    margin-top:25%;  
    width:fit-content;
    float:right;
    border-bottom: 3px solid #3d3b3000;
}
.selected-sidebar-month{
    border-bottom: 3px solid #3D3B30;
    background-color: rgba(0, 0, 0, 0.155);
}

#entries{
    width:87%;
    float:left;
    height: fit-content;
}
.entry{
    width:95%;
    border:0px solid black;
    height:fit-content;
    margin:2%;
    color:#3D3B30;
    
    background-color:rgba(0, 0, 0, 0.155);
}
.entry-info{
    width: 100%;
    height: fit-content;
    font-weight: bolder;
    
}
.entry-date{
    height: fit-content;
    width: 60%;
    float:left;
    text-align: left;
    padding:2%;
}
.entry-words{
    height: fit-content;
    width: 36%;
    float:left;
    text-align: right;
    padding:2%;
}
.entry-content{
    width:95%;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin:2%;
}
.show-content{
    overflow:visible;
    display: block;
    -webkit-line-clamp: none;
    -webkit-box-orient: none;
}
